In [2]:
import wrds
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
conn = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [ ]:

query_symbols = "SELECT DISTINCT SYMBOL FROM optionm.opprcd2022"
symbols = conn.raw_sql(query_symbols)

In [6]:
uniques = set([s[:3] for s in symbols['symbol'].tolist()])

In [18]:
import json
with open('unique_symbols.json', 'w') as f:
    json.dump(list(uniques), f)

In [21]:
query_ice = """
SELECT *
FROM optionm.opprcd2021
WHERE symbol LIKE %(pat)s
"""
ice_options = conn.raw_sql(query_ice, params={"pat": "ICE%"})

In [22]:
ice_options.to_csv('ice_options_2021.csv', index=False)

In [23]:
data1 = pd.read_csv("ice_options_2021.csv")
data2 = pd.read_csv("ice_options_2022.csv")
data3 = pd.read_csv("ice_options_2023.csv")
ice_options = pd.concat([data1, data2, data3], ignore_index=True)

In [24]:
ice_options

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,ss_flag,forward_price,expiry_indicator,root,suffix
0,125175.0,2021-01-04,ICE 210115C100000,1,2021-01-15,2021-01-04,C,100000.0,13.00,13.90,...,-14.006710,123880566.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
1,125175.0,2021-01-04,ICE 210115C105000,1,2021-01-15,2021-01-04,C,105000.0,8.50,9.20,...,-28.617930,123880567.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
2,125175.0,2021-01-04,ICE 210115C110000,1,2021-01-15,2021-01-04,C,110000.0,4.10,4.60,...,-32.366420,123931856.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
3,125175.0,2021-01-04,ICE 210115C115000,1,2021-01-15,2021-01-04,C,115000.0,1.20,1.35,...,-30.495510,123931857.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
4,125175.0,2021-01-04,ICE 210115C120000,1,2021-01-15,2021-01-04,C,120000.0,0.20,0.40,...,-17.015740,126757396.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270479,125175.0,2023-08-31,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,0.10,1.65,...,-1.073371,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270480,125175.0,2023-08-31,ICE 250117P80000,1,2025-01-17,2023-08-11,P,80000.0,0.20,3.20,...,-1.648271,149557598.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270481,125175.0,2023-08-31,ICE 250117P85000,1,2025-01-17,2023-08-01,P,85000.0,1.85,4.90,...,-2.523177,149557599.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270482,125175.0,2023-08-31,ICE 250117P90000,1,2025-01-17,2023-08-03,P,90000.0,2.45,3.80,...,-2.184356,149557600.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270483,125175.0,2023-08-31,ICE 250117P95000,1,2025-01-17,2023-08-31,P,95000.0,3.10,4.10,...,-2.175172,149557601.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN

In [26]:
ice_options[ice_options["symbol"] == "ICE 250117P75000"]

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,ss_flag,forward_price,expiry_indicator,root,suffix
182668,125175.0,2022-09-12,ICE 250117P75000,1,2025-01-17,NaN,P,75000.0,3.0,8.00,...,-1.908460,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
183095,125175.0,2022-09-13,ICE 250117P75000,1,2025-01-17,NaN,P,75000.0,3.9,8.50,...,-1.932411,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
183524,125175.0,2022-09-14,ICE 250117P75000,1,2025-01-17,NaN,P,75000.0,3.5,8.50,...,-1.884270,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
183991,125175.0,2022-09-15,ICE 250117P75000,1,2025-01-17,NaN,P,75000.0,3.5,8.50,...,-1.843815,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
184459,125175.0,2022-09-16,ICE 250117P75000,1,2025-01-17,NaN,P,75000.0,4.0,8.90,...,-1.903827,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269095,125175.0,2023-08-25,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,1.3,1.90,...,-1.612751,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
269442,125175.0,2023-08-28,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,1.0,1.80,...,-1.498446,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
269788,125175.0,2023-08-29,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,1.0,1.40,...,-1.354221,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270134,125175.0,2023-08-30,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,0.9,1.45,...,-1.336152,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN
270479,125175.0,2023-08-31,ICE 250117P75000,1,2025-01-17,2023-08-25,P,75000.0,0.1,1.65,...,-1.073371,149557597.0,1.0,0.0,100.0,0,NaN,NaN,NaN,NaN